In [50]:
import requests
import os 
import json
import numpy as np 
import pandas as pd
from datetime import datetime, timedelta
from pprint import pprint 
import pytz
import seaborn as sb
import schedule

from datetime import datetime
from datetime import timedelta
from datetime import date

import time
from PIL import Image
from IPython.display import display
from concurrent.futures import ThreadPoolExecutor, as_completed


import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import json
pd.options.mode.chained_assignment = None 
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import warnings
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, RFE, mutual_info_classif
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import asyncio
import aiohttp
import nest_asyncio
import math

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)



# # Initialize the DataFrame
# daily_games = pd.DataFrame()

# base_url = "https://api-web.nhle.com/v1/schedule/"
# # start_date = datetime.strptime("2023-10-09", "%Y-%m-%d")
# # end_date = datetime.strptime("2024-04-17", "%Y-%m-%d")

# start_date = datetime.strptime("2024-10-08", "%Y-%m-%d")
# end_date = datetime.strptime("2025-04-17", "%Y-%m-%d")


# current_date = start_date

# # Set to keep track of unique dates
# seen_dates = set()

# while current_date <= end_date:
#     # Format the date as 'YYYY-MM-DD'
#     formatted_date = current_date.strftime("%Y-%m-%d")
#     api_url = f"{base_url}{formatted_date}"
    
#     # Make the API request
#     response = requests.get(api_url)
    
#     if response.status_code == 200:
#     # The response content can be accessed using response.text
#         response_text = response.text
#     #pprint(response_text)
#     else:
#         print(f"Request failed with status code {response.status_code}")

#     json_data = json.loads(response_text)

#     game_week = json_data['gameWeek']
#     game_week_df = pd.DataFrame(game_week)


#     game_week_df = game_week_df[game_week_df['numberOfGames'] != 0]
    
#         # Filter out rows with duplicate dates
#     if formatted_date not in seen_dates:
#             seen_dates.add(formatted_date)
#             daily_games = pd.concat([daily_games, game_week_df], ignore_index=True)
#     else:
#         print(f"Failed to retrieve data for {formatted_date}")
    
#     # Move to the next week
#     current_date += timedelta(weeks=1)
#     # Filter out rows where 'date' is after the end date
#     daily_games['date'] = pd.to_datetime(daily_games['date'])
#     daily_games = daily_games[daily_games['date'] <= end_date]

#     # Reset index after filtering
#     daily_games.reset_index(drop=True, inplace=True)

#     game_week_details = pd.json_normalize(daily_games['games'])
# #in order to extract the data properly, it needs to be stored in a dictionary. This extracts each of the games from the cells

# dfs = {}

# # Loop through the iterations (30 times)
# for i in range(0, len(game_week_details.columns)): 
#     api_response = game_week
    
#     if api_response is not None:
#         # Extract relevant data from the API response and normalize it
#         game_info = pd.json_normalize(game_week_details[i])
        
#         # Create a DataFrame for this iteration
#         df_name = f'game_test{i}'  # Generate a unique variable name
#         dfs[df_name] = pd.DataFrame(game_info)
#     else:
#         # Handle the case where the API request failed
#         print(f"API request failed for index {i}")

# #Then I combine all of the dfs in the list by concatenation to create a single df. now all of the game data is spread out across each row. 
# combined_df = pd.concat(dfs.values(), ignore_index=True)
# combined_df.dropna(how='all', inplace=True)
# combined_df = combined_df[['id', 'season', 'startTimeUTC', 'gameType', 'awayTeam.id', 'awayTeam.abbrev', 'awayTeam.logo', 
#                         'homeTeam.id', 'homeTeam.abbrev','homeTeam.logo', 'homeTeam.placeName.default', 'awayTeam.placeName.default',
#                         'awayTeam.score', 'homeTeam.score', 'winningGoalScorer.playerId', 
#                         'winningGoalie.playerId', 'gameState']]


# combined_df=combined_df.convert_dtypes()
# combined_df['id'] = combined_df['id'].astype(str)

# combined_df['link']= 'https://api-web.nhle.com/v1/gamecenter/'+ combined_df['id'] + '/play-by-play'

# # Assuming '<NA>' is a string, replace it with np.nan
# combined_df['id'] = combined_df['id'].replace('<NA>', np.nan)

# # Drop rows with NaN values in the 'link' column
# combined_df = combined_df.dropna(subset=['id'])
# combined_df = combined_df.query('gameState == "OFF"')
# combined_df['startTimeUTC'] = pd.to_datetime(combined_df['startTimeUTC'])
# combined_df = combined_df.rename(columns = {'id':'game_id'})
# combined_df = combined_df.sort_values('game_id').reset_index()


# # Specify the UTC time zone
# utc_timezone = pytz.utc

# # Specify the target time zone (Eastern Time)
# eastern_timezone = pytz.timezone('America/New_York')

# # Convert 'startTimeUTC' to Eastern Time
# combined_df['game_date'] = combined_df['startTimeUTC'].dt.tz_convert(eastern_timezone)
# combined_df['game_date'] = pd.to_datetime(combined_df['game_date'])
# combined_df['game_date'] = combined_df['game_date'].dt.strftime('%Y-%m-%d')
# combined_df.drop('startTimeUTC', axis=1, inplace=True)
# # combined_df = combined_df[combined_df['game_date'] == formatted_date]
# combined_df.sort_values(by='game_id')
# # print("combined_df done")
# combined_df.head()

# locations = combined_df[['game_id', 'awayTeam.id','awayTeam.abbrev', 'homeTeam.id', 'homeTeam.abbrev']]



# Apply nest_asyncio to allow nested event loops in Jupyter notebooks
nest_asyncio.apply()

# Initialize the starting and ending game IDs
start_game_id = 2024020001
end_game_id = 2024021307

# Base URL for the API
base_url = "https://api.nhle.com/stats/rest/en/shiftcharts?cayenneExp=gameId="
pxp_url = "https://api-web.nhle.com/v1/gamecenter/"
pxp_suffix = "/play-by-play"

# Create an empty list to store the game IDs and URLs
game_data = []

# Loop through the range of game IDs
for game_id in range(start_game_id, end_game_id + 1):
    # Create the full API URL
    api_url = f"{base_url}{game_id}"
    api_url2 = f"{pxp_url}{game_id}{pxp_suffix}"
    # Append the game ID and URL to the list
    game_data.append({"game_id": game_id, "shift_url": api_url, "pxp_url": api_url2})

# Convert the list to a DataFrame
game_df = pd.DataFrame(game_data)

async def fetch_shift_data(session, shift_url, game_id):
    try:
        async with session.get(shift_url) as response:
            if response.status == 200:
                json_data = await response.json()
                details = pd.DataFrame(json_data['data'])
                if not details.empty:
                    # Concatenate first and last names to create player_name
                    details['player_name'] = details['firstName'] + " " + details['lastName']
                    
                    # Handle empty or null eventDetails only for typeCode 505
                    mask_505 = details['typeCode'] == 505
                    if 'typeCode' in details.columns and mask_505.any():
                        details.loc[mask_505, 'eventDetails'] = details.loc[mask_505, 'eventDetails'].fillna('unassisted')
                        details.loc[mask_505, 'eventDetails'] = details.loc[mask_505, 'eventDetails'].replace(r'^\s*$', 'unassisted', regex=True)

                        # Handle splitting of eventDetails
                        assists = details.loc[mask_505, 'eventDetails'].str.split(', ', expand=True)

                        details.loc[mask_505, 'assist_1'] = assists[0]
                        details.loc[mask_505, 'assist_2'] = assists[1] if assists.shape[1] > 1 else None

                    return details
            else:
                print(f"Request failed with status code {response.status}")
                return pd.DataFrame()
    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

async def fetch_all_shift_data(game_df):
    async with aiohttp.ClientSession() as session:
        tasks = []
        for _, row in game_df.iterrows():
            url = row['shift_url']
            game_id = row['game_id']
            tasks.append(fetch_shift_data(session, url, game_id))
        
        results = await asyncio.gather(*tasks)
        return results

# Run the async tasks and collect the results
all_shifts_data = asyncio.run(fetch_all_shift_data(game_df))

# Concatenate all the shift data DataFrames into a single DataFrame
all_shifts = pd.concat(all_shifts_data, ignore_index=True)

all_shifts = pd.DataFrame(all_shifts)

#Create a dictionary to make the shot data more readable 
shot_code_dictionary = {
    801: 'slap shot',
    802: 'snap shot',
    803: 'wrist shot',
    804: 'wrap-around',
    805: 'tip-in',
    806: 'backhanded shot',
    807: 'deflected in',
    808: 'bat shot',
    809: 'cradle/Michigan',
    810: 'poke',
    811: 'between the legs'
}
all_shifts.head()

,id,detailCode,duration,endTime,eventDescription,eventDetails,eventNumber,firstName,gameId,hexValue,lastName,period,playerId,shiftNumber,startTime,teamAbbrev,teamId,teamName,typeCode,player_name,assist_1,assist_2
0,14376602,0,17:15,17:15,None,None,101,Jacob,2024020001,#C8102E,Markstrom,1,8474593,1,00:00,NJD,1,New Jersey Devils,517,Jacob Markstrom,NaN,NaN
1,14376858,0,02:23,20:00,None,None,1730702,Jacob,2024020001,#C8102E,Markstrom,1,8474593,2,17:37,NJD,1,New Jersey Devils,517,Jacob Markstrom,NaN,NaN
2,14376906,0,20:00,20:00,None,None,1730744,Jacob,2024020001,#C8102E,Markstrom,2,8474593,3,00:00,NJD,1,New Jersey Devils,517,Jacob Markstrom,NaN,NaN
3,14377141,0,20:00,20:00,None,None,1731092,Jacob,2024020001,#C8102E,Markstrom,3,8474593,4,00:00,NJD,1,New Jersey Devils,517,Jacob Markstrom,NaN,NaN
4,14376603,0,00:23,00:23,None,None,101,Tomas,2024020001,#C8102E,Tatar,1,8475193,1,00:00,NJD,1,New Jersey Devils,517,Tomas Tatar,NaN,NaN

In [51]:

all_shifts['shot_type'] = all_shifts['detailCode'].map(shot_code_dictionary)
all_shifts['gameId'] = all_shifts['gameId'].astype(str)

In [52]:

assist_1 = all_shifts[all_shifts['assist_1'].notna()]
assist_2 = all_shifts[all_shifts['assist_2'].notna()]

In [53]:


shifts_df = all_shifts[['gameId', 'period', 'shiftNumber', 'startTime','eventNumber', 'playerId', 'player_name', 
               'teamId', 'teamName', 'typeCode', 'assist_1', 'assist_2', 'shot_type', 'eventDescription']]
assist_1 = assist_1[['gameId', 'period', 'startTime','eventNumber', 'assist_1']]
assist_2 = assist_2[['gameId', 'period', 'startTime','eventNumber', 'assist_2']]

assist_1.head()

         gameId  period startTime  eventNumber             assist_1
141  2024020001       1     08:39          274  Johnathan Kovacevic
415  2024020001       2     03:29      1730882       Nathan Bastian
464  2024020001       1     15:38      1730620   Jonas Siegenthaler
578  2024020001       3     17:28      1731328       Nathan Bastian
747  2024020001       3     10:07      1731224           JJ Peterka

In [54]:

shifts_df=shifts_df.sort_values(['gameId', 'period', 'startTime', 'eventNumber'] ).reset_index()
shifts_df.head()

,index,gameId,period,shiftNumber,startTime,eventNumber,playerId,player_name,teamId,teamName,typeCode,assist_1,assist_2,shot_type,eventDescription
0,0,2024020001,1,1,00:00,101,8474593,Jacob Markstrom,1,New Jersey Devils,517,NaN,NaN,NaN,None
1,4,2024020001,1,1,00:00,101,8475193,Tomas Tatar,1,New Jersey Devils,517,NaN,NaN,NaN,None
2,91,2024020001,1,1,00:00,101,8476292,Ondrej Palat,1,New Jersey Devils,517,NaN,NaN,NaN,None
3,254,2024020001,1,1,00:00,101,8478399,Jonas Siegenthaler,1,New Jersey Devils,517,NaN,NaN,NaN,None
4,405,2024020001,1,1,00:00,101,8480002,Nico Hischier,1,New Jersey Devils,517,NaN,NaN,NaN,None

In [55]:
goal_shifts=shifts_df[shifts_df['typeCode'].isin([505])]

In [56]:

season_goal_totals=goal_shifts[['playerId', 'player_name', 'shot_type', 'gameId', 'period', 'startTime', 'eventNumber']]

season_goal_totals.head()

,playerId,player_name,shot_type,gameId,period,startTime,eventNumber
139,8476474,Stefan Noesen,snap shot,2024020001,1,08:39,274
242,8480192,Johnathan Kovacevic,wrist shot,2024020001,1,15:38,1730620
347,8480002,Nico Hischier,wrist shot,2024020001,2,03:29,1730882
673,8482671,Owen Power,wrist shot,2024020001,3,10:07,1731224
784,8481032,Paul Cotter,backhanded shot,2024020001,3,17:28,1731328

In [57]:
season_assist1_total = assist_1[['gameId', 'assist_1', 'eventNumber', 'period']]

season_assist1_total=season_assist1_total.sort_values(['assist_1', 'gameId', 'eventNumber', 'period'] ).reset_index()



season_assist2_total = assist_2[['gameId', 'assist_2', 'eventNumber', 'period']]
season_assist2_total=season_assist2_total.sort_values(['assist_2', 'gameId', 'eventNumber', 'period'] ).reset_index()


season_assist1_total.head()

   index      gameId           assist_1  eventNumber  period
0   2628  2024020004         A.J. Greer          473       1
1   2600  2024020004  Aleksander Barkov          459       1
2   8600  2024020012    Alex Laferriere          857       3
3   7348  2024020010   Alex Pietrangelo          353       1
4   3199  2024020005        Alex Vlasic          876       3

In [58]:

season_goal_totals=season_goal_totals.sort_values(['playerId', 'gameId', 'period', 'startTime', 'eventNumber'] ).reset_index()
season_goal_totals.head()

,index,playerId,player_name,shot_type,gameId,period,startTime,eventNumber
0,14795,8470600,Ryan Suter,wrist shot,2024020019,3,06:11,914
1,9089,8471685,Anze Kopitar,snap shot,2024020012,3,00:13,857
2,9331,8471685,Anze Kopitar,slap shot,2024020012,3,18:22,1104
3,9346,8471685,Anze Kopitar,wrist shot,2024020012,3,19:18,1120
4,3769,8473422,Nick Foligno,tip-in,2024020005,3,04:48,876

In [59]:
season_goal_totals = season_goal_totals.groupby(['playerId', 'player_name', 'gameId'])['eventNumber'].count().reset_index()

season_goal_totals.head()

   playerId     player_name      gameId  eventNumber
0   8470600      Ryan Suter  2024020019            1
1   8471685    Anze Kopitar  2024020012            3
2   8473422    Nick Foligno  2024020005            1
3   8474157  Max Pacioretty  2024020015            1
4   8474578   Erik Karlsson  2024020014            1

In [60]:

season_goal_totals = season_goal_totals.sort_values(by='playerId')
season_assist1_total =season_assist1_total.sort_values(by='assist_1')
season_assist2_total = season_assist2_total.sort_values(by='assist_2')
season_assist1_total.head()

   index      gameId           assist_1  eventNumber  period
0   2628  2024020004         A.J. Greer          473       1
1   2600  2024020004  Aleksander Barkov          459       1
2   8600  2024020012    Alex Laferriere          857       3
3   7348  2024020010   Alex Pietrangelo          353       1
4   3199  2024020005        Alex Vlasic          876       3

In [61]:
season_assist1_total.head()

   index      gameId           assist_1  eventNumber  period
0   2628  2024020004         A.J. Greer          473       1
1   2600  2024020004  Aleksander Barkov          459       1
2   8600  2024020012    Alex Laferriere          857       3
3   7348  2024020010   Alex Pietrangelo          353       1
4   3199  2024020005        Alex Vlasic          876       3

In [62]:
season_assist1_total= season_assist1_total.rename(columns = {'eventNumber':'a1', 'assist_1':'player_name'})
season_assist2_total= season_assist2_total.rename(columns = {'eventNumber':'a2','assist_2':'player_name'})
season_goal_totals=season_goal_totals.rename(columns = {'eventNumber':'g'})

In [63]:
season_assist1_total.head()

   index      gameId        player_name   a1  period
0   2628  2024020004         A.J. Greer  473       1
1   2600  2024020004  Aleksander Barkov  459       1
2   8600  2024020012    Alex Laferriere  857       3
3   7348  2024020010   Alex Pietrangelo  353       1
4   3199  2024020005        Alex Vlasic  876       3

In [64]:
season_assist1_total = season_assist1_total.groupby(['player_name', 'gameId'])['a1'].count().reset_index()
season_assist2_total = season_assist2_total.groupby(['player_name', 'gameId'])['a2'].count().reset_index()



season_assist2_total.head()

      player_name      gameId  a2
0    Aaron Ekblad  2024020004   1
1       Aatu Raty  2024020009   1
2      Adam Lowry  2024020008   1
3    Adrian Kempe  2024020012   1
4  Alex DeBrincat  2024020014   1

In [65]:

season_assists = season_assist1_total.merge(season_assist2_total, on=['player_name', 'gameId'], how='outer', suffixes=('_assist1', '_assist2'))


# season_assists['gp'] = np.where(season_assists['gameId_y'].isna(), 1, 2)
season_assists.head()

    player_name      gameId   a1   a2
0    A.J. Greer  2024020004  1.0  NaN
1  Aaron Ekblad  2024020004  NaN  1.0
2     Aatu Raty  2024020009  NaN  1.0
3    Adam Lowry  2024020008  NaN  1.0
4  Adrian Kempe  2024020012  NaN  1.0

In [66]:
season_goal_totals.head()

   playerId     player_name      gameId  g
0   8470600      Ryan Suter  2024020019  1
1   8471685    Anze Kopitar  2024020012  3
2   8473422    Nick Foligno  2024020005  1
3   8474157  Max Pacioretty  2024020015  1
4   8474578   Erik Karlsson  2024020014  1

In [71]:

season_totals = season_goal_totals.merge(season_assists, on=['player_name', 'gameId'], how = "outer")
                                        #  season_assist1_total.merge(season_assist2_total, on=['player_name', 'game_id'], how='left', suffixes=('_assist1', '_assist2'))

season_totals.loc[:, 'g'] = season_totals['g'].fillna(0)
season_totals.loc[:, 'a1'] = season_totals['a1'].fillna(0)
season_totals.loc[:, 'a2'] = season_totals['a2'].fillna(0)
season_totals.head(25)

     playerId          player_name      gameId    g   a1   a2
0         NaN           A.J. Greer  2024020004  0.0  1.0  0.0
1         NaN         Aaron Ekblad  2024020004  0.0  0.0  1.0
2         NaN            Aatu Raty  2024020009  0.0  0.0  1.0
3   8476392.0           Adam Lowry  2024020008  1.0  0.0  1.0
4         NaN         Adrian Kempe  2024020012  0.0  0.0  1.0
5         NaN    Aleksander Barkov  2024020004  0.0  1.0  0.0
6   8479337.0       Alex DeBrincat  2024020014  2.0  0.0  1.0
7         NaN      Alex Laferriere  2024020012  0.0  1.0  0.0
8         NaN     Alex Pietrangelo  2024020010  0.0  1.0  0.0
9         NaN            Alex Tuch  2024020002  0.0  0.0  1.0
10  8477949.0            Alex Tuch  2024020012  1.0  0.0  0.0
11        NaN          Alex Vlasic  2024020005  0.0  1.0  0.0
12        NaN    Alexander Kerfoot  2024020016  0.0  1.0  0.0
13        NaN     Alexandre Texier  2024020003  0.0  1.0  0.0
14        NaN   Alexey Toropchenko  2024020019  0.0  1.0  0.0
15  8482109.0   Alexis Lafrenire  2024020007  1.0  1.0  0.0
16        NaN      Andrei Kuzmenko  2024020009  0.0  0.0  1.0
17        NaN         Andrew Peeke  2024020004  0.0  0.0  1.0
18  8478463.0  Anthony Beauvillier  2024020014  2.0  0.0  0.0
19  8477407.0      Anthony Duclair  2024020016  1.0  1.0  0.0
20  8477511.0       Anthony Mantha  2024020009  1.0  1.0  0.0
21        NaN        Anton Lundell  2024020004  0.0  1.0  0.0
22  8471685.0         Anze Kopitar  2024020012  3.0  0.0  0.0
23        NaN       Artemi Panarin  2024020007  0.0  1.0  1.0
24  8476624.0      Barclay Goodrow  2024020019  1.0  0.0  0.0

In [72]:

season_totals = season_totals.groupby(['playerId', 'player_name']).agg(
    g=('g', 'sum'),            
    gp=('gameId', 'nunique'),
    a1 = ('a1', 'sum'),
    a2 = ('a2', 'sum')            
).reset_index()

    playerId     player_name    g  gp   a1   a2
0  8470600.0      Ryan Suter  1.0   1  0.0  0.0
1  8471685.0    Anze Kopitar  3.0   1  0.0  0.0
2  8473422.0    Nick Foligno  1.0   1  0.0  0.0
3  8474157.0  Max Pacioretty  1.0   1  0.0  0.0
4  8474578.0   Erik Karlsson  1.0   1  0.0  1.0

In [75]:
season_totals.head()

    playerId     player_name    g  gp   a1   a2
0  8470600.0      Ryan Suter  1.0   1  0.0  0.0
1  8471685.0    Anze Kopitar  3.0   1  0.0  0.0
2  8473422.0    Nick Foligno  1.0   1  0.0  0.0
3  8474157.0  Max Pacioretty  1.0   1  0.0  0.0
4  8474578.0   Erik Karlsson  1.0   1  0.0  1.0

In [77]:
#goals per game
season_totals['gpg'] = season_totals['g']/season_totals['gp']
season_totals['p'] = season_totals['g']+season_totals['a1']+season_totals['a2']
season_totals.head()

    playerId     player_name    g  gp   a1   a2  gpg    p
0  8470600.0      Ryan Suter  1.0   1  0.0  0.0  1.0  1.0
1  8471685.0    Anze Kopitar  3.0   1  0.0  0.0  3.0  3.0
2  8473422.0    Nick Foligno  1.0   1  0.0  0.0  1.0  1.0
3  8474157.0  Max Pacioretty  1.0   1  0.0  0.0  1.0  1.0
4  8474578.0   Erik Karlsson  1.0   1  0.0  1.0  1.0  2.0